.customer-table {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.group-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;

}

.customer-table .group-button .add-button {
  margin-left: 20px;
  background: #8BC34A;
  color: white;
}

.add-button {
  width: 100px;
  border-radius: 4px;
  font-weight: 500;
}

.ant-form-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ant-form-item-label {
  margin-right: 10px;
}

.action-icon {
  display: flex;
    flex-direction: column;
}

.action-icon svg:first-child {
  margin-bottom: 10px;
}

.action-icon svg:hover {
  color: red;
}

.model-remove .ant-modal-header {
  background: #ff4d4f;
}

.model-remove .ant-modal-header .ant-modal-title,
.model-remove .ant-modal-close {
  color: white;
}